@import "bootstrap/scss/bootstrap.scss";

$ccc: #ccc;
$green: #228b22;
$black: #000;
$lightred: #cd5555;

.c {
  color: $green;
}

.cm,
.co {
  color: $black;
}

.h {
  color: $lightred;
  font-weight: bold;
}

.hh {
  color: $lightred;
  font-style: italic;
}


.i {
  color: #00688B;
}


.j {
  color: $lightred;
  font-weight: bold;
}


.k {
  color: #8B008B;
  font-weight: bold;
}


.m {
  color: #FF0000;
  font-weight: bold;
}

.n {
  color: #B452CD;
}

.p {
  color: $black;
}

.pd {
  color: $green;
  font-style: italic;
}

.pu {
  color: $black;
}

.q {
  color: $lightred;
}

.s,
.sc {
  color: $black;
}

.v {
  color: #B452CD;
}

.w {
  color: $black;
}

a {
  &.l_k {

    &:link,
    &:visited,
    &:active {
      color: #8B008B;
      font-weight: bold;
    }

    &:hover {
      color: #225533;
      font-weight: bold;
    }
  }

  &.l_w {

    &:link,
    &:visited,
    &:active {
      color: $black;
    }

    &:hover {
      color: #225533;
    }
  }
}

code.inline {
  background: #b8c7ce;
  border: 1px solid $ccc;
  padding: 5px 10px;
}

pre {
  &.verbatim {

    background: #b8c7ce;
    border: 1px solid $ccc;
    padding: 3px;
    white-space: pre-wrap;
    word-wrap: break-word;

    ol {
      background-color: #d8d8d8;
      color: #3f3f3f;
      margin-bottom: 0;
      margin-top: 0;

      li {
        background: #b8c7ce;
        color: #262626;
        padding-bottom: 2px;
      }
    }
  }

  &.indent {
    background: #eeeedd;
    border: 1px solid $ccc;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
  }
}


html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

object {
  pointer-events: none;
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      padding: 1rem;
      color: rgba($color: #fff, $alpha: 1);

      &:hover,
      &:active,
      &:visited,
      &.active {
        background-color: darken($color: $primary, $amount: 5%);
        color: rgba($color: #fff, $alpha: 1);
      }
    }

    .dropdown-menu {
      &.show {
        overflow-x: scroll;
        max-height: 75vh;
      }
    }
  }
}

.fixed-top {
  position: absolute;
}

.bg-perl {
  background-image: linear-gradient(to bottom, #0073a1 0, #003555 100%);
  background-repeat: repeat-x;
}

.logo {
  height: 60px;
}

.feature-image-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  object {
    pointer-events: none;
    padding-right: 1rem;
  }
}

.highlight-module {
  background-color: $gray-100;
  display: block;
  padding: 0 0.5rem 0.5rem 0.5rem;
  color: $black;
  border: 1px solid transparent;

  .alternate {
    color: $black;
  }

  &:hover {
    text-decoration: none;
    color: $primary;
    border: 1px solid $gray-200;
  }
}

.ic-highlight {
  height: 70px;
}

.dropdown-menu {
  .dropdown-item {
    color: $blue;

    &:hover,
    &:active,
    &.active {
      background-color: darken($color: $white, $amount: 15%);
    }
  }

  .major-version {
    text-align-last: left;
    color: $gray-800;
    margin-bottom: 0;

    &:hover {
      background-color: $white;
      color: $gray-800;
    }
  }

  .minor-version {
    text-align: right;
  }

  &.letters-wrap {
    display: none;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
    right: 0;
    left: unset;

    .letters {
      display: inline-block;
      text-align: center; // flex-grow: 1;
      width: fit-content;
      padding: 0.25rem 0.25rem;
      font-feature-settings: "tnum";
      font-variant-numeric: tabular-nums;
    }

    &.show {
      display: flex;
    }
  }
}

.letter-container {
  padding: 0.25rem 1.5rem;
}

.jumbotron {
  img {
    @include media-breakpoint-up(xs) {
      margin-right: 0;
    }
  }

  margin-bottom: 0;
}

.dropdown-divider {
  width: 90%;
  display: block;
  margin: auto;
}

.opus-logo {
  height: 25px;
  padding-left: 0.5rem;
}

ul {
  list-style: none;
  padding-left: 0;
}
